/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {

 	/*Helpers*/
	.text-sm-center{
		text-align: center !important;
	}

	/*Carousel*/
	.parallax { 
		.slide{ 
			width: 100%; 
			.info{ height: auto }
		}
		.btn-cta{width: 130px} 
	}

	/*Carousel*/
	#custom_carousel .pannel .btn-cta{ width: 170px; }
}
