/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 

	/*Parallax*/ 
	.parallax .slide {
		min-height: 56vh;
	}	
	.parallax .img-container{
		width: 70%; 
		margin: auto;
	}

	/*Carousel*/
	#custom_carousel .pannel .img-container { width: 70%; }

	/*Jumbotron Top*/
	header{
		.item{
			margin: 1rem 0;
		}
		.header-info{
			margin: 3rem 0;
			margin-bottom: 1rem;
		}
	}
	
}
