


.btn-cta{
	background-color: transparent;
	border-radius: 2px;
	color: #fff;
	font-size: 1.2em;
	transition: all, ease, 0.3s;
	font-weight: 400;
	outline: none;
	border-color: #fff;
	border-width: 2px;	
	width: 180px;

	span, i{
		vertical-align: middle;
	}

	i{
		position: relative;
		right: calc(100% - 109%);
	}

	&:nth-child(1){
		margin-right: 10px; 
	}

	&:hover, &:active, &:focus{
		color: yellow;
		text-decoration: none;
		outline: none;
		border-color: yellow;
	}

}