$color-nav_dark_dark: #303030;
$color-nav_shade_dark: #323232;

$color-dark: #232323;
$color-lime_green: #4CF222;
$color-yellow: #D1DA55;
$color-light_blue: #719AAD;
$color-grey: #BBBBBB; 


.bg_dark_dark{
	background-color: $color-nav_dark_dark;
}
.bg_shade_dark{
	background-color: $color-nav_shade_dark;
}