

@mixin button-cta($fz: 14px, $cl: #fff){
	background-color: transparent;
	border-radius: 2px;
	color: #fff;
	font-size: $fz;
	transition: all, ease, 0.3s;
	font-weight: 400;
	outline: none;
	border-color: #fff;
	border-width: 1px;	

	span{
		float: left;
	}
	i{
		float: right;
		color: $cl;
	}

	&:nth-child(1){
		margin-right: 10px; 
	}

	&:hover, &:active, &:focus{
		color: $cl;
		text-decoration: none;
		outline: none;
		border-color: $cl;
	}
}

@mixin button-cta-secondary($fz: 14px, $cl: #414141){
	background-color: transparent;
	border-radius: 2px;
	color: $cl;
	font-size: $fz;
	transition: all, ease, 0.3s;
	font-weight: lighter;
	outline: none;
	border-color: $cl;
	border-width: 1px;
	&:hover, &:active, &:focus{
		color: #fff;
		text-decoration: none;
		outline: none;
		border-color: transparent;
		background-color: #83AABB;
	}
}

@mixin hero($bg: #fff, $font-color: #FFF){

	position: relative;
	padding: 3.5rem 1rem;
	background-color: $bg;
	
	h2{
		font-size: 1.2rem;
		font-weight: bold;
	}

	h2,p{
		color: $font-color;
	}

	&:after {
		content:'';
		position: absolute;
		z-index: 1;
		bottom: -15px;
		left: 50%;
		margin-left: -80px;
		width: 0;
		height: 0;
		border-top: solid 40px $bg;
		border-left: solid 80px transparent;
		border-right: solid 80px transparent;
	}

}