$color-nav_dark_dark: #303030;
$color-nav_shade_dark: #323232;

$color-dark: #232323;
$color-lime-green: #4CF222;
$color-dark-green: #BADA55;
$color-yellow: #D1DA55;
$color-light-blue: #0FD3FA;
$color-sea-blue: #83AABB;
$color-grey: #BBBBBB; 
$color-red: #E85A74;
$color-purple: #8F98E2

